DISCORD_TOKEN=
WELCOME_CHANNEL_ID=
WELCOME_IMAGE=

# --- Coduri de afiliere pentru butoanele .link ---
# Lasa gol =
AFF_KAKOBUY=
AFF_SUPERBUY=
AFF_OOPBUY=
AFF_CSSBUY=
AFF_JOYAGOO=
AFF_LITBUY=
AFF_SUGARGOO=

# Ref-ul pentru butonul QC (Doppel)
DOPPEL_REF=
